.switcher
    button.switcher_button.switcher_button--prev(data-action='prev' disabled)
    button.switcher_button.switcher_button--next(data-action='next')
script(src="/uploads/preza/preza.js")
script.
    var urls=["http://xn--80accnark1ag2cd2c7c2a.xn--p1ai","http://test.xn--80accnark1ag2cd2c7c2a.xn--p1ai"];
    var preza = new PrezaIframe(urls);
script(src="./js/app.min.js")