doctype html
html(lang="ru")
    include includes/_head
    body
        main.tutorial
            .tutorial_inner
                .tutorial_header.tutorial_header--center
                    | инструкция по
                    br
                    | эксплуатации сайта
                .tutorial_img
                    .tutorial_line
                        .tutorial_line_circle
        .switcher
                button.switcher_button.switcher_button--prev(data-action='prev' disabled)
                button.switcher_button.switcher_button--next(data-action='next')
        include includes/_footer