doctype html
html(lang="ru")
    include includes/_head
    body
        main.tutorial.slide--2.slide--3.slide--7.slide--8
            .tutorial_inner
                .tutorial_header
                    | Введите любой логин и пароль.
                    br
                    | Например, Логин – ABCDEF, Пароль – 123456. Нажмите на кнопку – ВОЙТИ. И потренируйтесь в работе с приложением для сотрудников оптик.
                    .button.button--blue войти
                .tutorial_img
                    .tutorial_line
                        .tutorial_line_circle
        include includes/_footer