doctype html
html(lang="ru")
    include includes/_head
    body
        main.tutorial.slide--2.slide--3
            .tutorial_inner
                .tutorial_header
                    | Чтобы начать обучение,
                    br
                    | нажмите на кнопку «Начать
                    br
                    | обучение».
                    .button НАЧАТЬ ОБУЧЕНИЕ
                .tutorial_img
                    .tutorial_line
                        .tutorial_line_circle
        include includes/_footer