doctype html
html(lang="ru")
    include includes/_head
    body
        main.tutorial
            .tutorial_inner.slide--2.slide--3.slide--6
                .tutorial_header
                    | Нажмите на значок «Play»,
                    br
                    | чтобы запустить
                    br
                    | обучающий видео ролик
                    .tutorial_play
                .tutorial_img
                    .tutorial_line
                        .tutorial_line_circle
        include includes/_footer