doctype html
html(lang="ru")
    include includes/_head
    body
        main.tutorial.slide--2
            .tutorial_inner
                .tutorial_header
                    | Чтобы выбрать материал для обучения нажмите в «Меню» на кнопку «Обучение».
                    br
                    | После выберете тренинг, который хотите изучить.
                .tutorial_img
                    .tutorial_line
                        .tutorial_line_circle
        include includes/_footer