doctype html
html(lang="ru")
    include includes/_head
    body
        main.tutorial.slide--2.slide--3.slide--7.slide--10
            .tutorial_inner
                .tutorial_header
                    | Нажмите «Продолжить» после окончания видео ролика, чтобы перейти к следующему разделу
                    .button Продолжить
                .tutorial_img
                    .tutorial_line
                        .tutorial_line_circle
        include includes/_footer