.switcher{
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 99;
    display: flex;
    &_button{
        box-shadow: 0 4px 14px 2px rgba(0,0,0,.14);
        border-radius: 50%;
        height: 40px;
        margin-right: 24px;
        padding: 0;
        position: relative;
        width: 40px;
        background-color: #fff;
        color: $primary-color;
        outline: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        // @include breakpoint(medium down) {
            opacity: 0.6;
        // }
        &:hover{
            background-color: $primary-color;
            color: #fff;
            &::before{
                background-image: url(../img/preza-arrow-white.png);
            }
        }
        &::before{
            width: 36px;
            height: 36px;
            margin: 2px;
            background-image: url(../img/preza-arrow.png);
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: 50%;
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            transform: translateX(-8%);
            transition: background-image .25s ease-in-out;
            right: 0;
            top: 0;
        }
        &--next{
            &::before{
                transform: rotate(180deg) translateX(-8%);
            }
        }
        &[disabled]{
            cursor: no-drop;
            background: $medium-gray;
            &::before{
                background-image: url(../img/preza-arrow-white.png);
            }
        }
    }
}