.tutorial{
    height: 100%;
    background-color: $primary-color;
    cursor: pointer;
    &_inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1366px;
        margin: auto;
        height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 47px;
        padding-right: 37px;
    }
    &_header{
        color: $white;
        font-size: 30px;
        text-transform: uppercase;
        font-weight:bold;
        display: table;
        margin: auto;
        text-align: center;
    }
    &_img{
        display: none;
        flex: 0 0 670px;
        height: 395px;
        margin-left: 50px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
        position: relative;
        background-image: url(../img/2.png);
        background-position: center;
        background-size: cover;
    }
    &_line{
        position: absolute;
        left: -30px;
        top: -30px;
        width: 574px;
        height: 208px;
        border-left: 3px dashed $white;
        border-top: 3px dashed $white;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 29px;
            border-left: 3px dashed $white;
        }
        &::before {
            content: '';
            position: absolute;
        }
        &_circle{
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $white;
                bottom: -16px;
                left: -11.5px;
                z-index: 2;
            }
            &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #8abfe1;
                top: 22px;
                right: -9px;
                z-index: 2;
            }
        }
    }
    &_menu {
        width: 164px;
        height: 66px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        color: $primary-color;
        border-radius: 0 0 33px 33px;
    }
}

.slide {
    &--2 {
        .tutorial {
            &_header {
                display: block;
                font-size: 24px;
                margin: 0;
                text-align: left;
            }
            &_img {
                display: block;
            }
        }
    }
    &--3 {
        .tutorial {
            &_img{
                background-image: url(../img/3.png);
            }
            &_line {
                width: 365px;
                height: 295px;
                &::before {
                    bottom: 0;
                    right: 100%;
                    width: 150px;
                    border-bottom: 3px dashed $white;
                }
                &::after{
                    height: 190px;
                }
                &_circle {
                    &::after {
                        background-color: $white;
                        top: 185px;
                    }
                    &::before {
                        bottom: -8px;
                        left: -166px;
                    }
                }
            }
        }
    }
    &--4 {
        .tutorial {
            &_line {
                height: 285px;
                &::before{
                    width: 390px;
                }
                &::after{
                    height: 10px;
                }
                &_circle{
                    &::before {
                        left: -405px;
                    }
                    &::after{
                        top: 4px;
                    }
                }
            }
        }
    }
}